.godot/

# Godot-specific ignores
.import/

docs/
!docs/index.html
!docs/impressum.html
!docs/index.js
!docs/bridge.js

export/

.DS_Store
node_modules/
!node_modules/.gdignore

tests/.parcel-cache
tests/dist
